body {
    font-family: sans-serif;
    background-color: black;
}

.background{
    width:100%;
    position: absolute;
    z-index: -1;
}



nav{
    width: 100%;
    top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid white;
}

nav img{
    width: 175px;
}

.earth{
    width: 20px
}

.logo{
    width: 176px;
}

.nav-language{
    right: 50px;
    font-family: Circe;
}

nav a{
    text-decoration: none;
    color: white
}

.nav-link{
    padding: 10px;
    margin-bottom: 10px;
    font-family: Circe;
}

h1{
    color: white;
    font-size:100px;
    text-align: center;
}

.exporfum{
    position: relative;
    top: 40px;
    left: 120px;
    color: white;
    font-family: roboto slab;
    font-size: 35px;
    text-align: center;
}

.piter{
    position: relative;
    top:10px;
    left: 570px;
    color: white;
    font-family: Roboto Slab;
    font-size: 30px ;
}

.compleks{
    position: relative;
    top: 30px;
    left: 120px;
    color: white;
    font-family: Circe;
    text-decoration: none;
}

.strelka{
    position: relative;
    top: ;
    left: 210px;
    width: 15px
}
